<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Sorry, We don't support any page for user.</p>
    <p>Only allowed Dapp's backend server can use this wallet.</p><br>
  </body>
</html>
